<phpunit bootstrap="../../tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="unit">
            <directory>./tests/Unit</directory>
        </testsuite>
    </testsuites>

	<filter>
		<whitelist>
			<directory suffix=".php">./appinfo</directory>
			<directory suffix=".php">./lib</directory>
			<directory suffix=".php">./templates</directory>
		</whitelist>
	</filter>

	<logging>
		<log type="coverage-clover" target="./tests/output/clover.xml"/>
	</logging>
</phpunit>
